.listening-tag {
    background-color:rgb(179, 217, 251);
    color: black;
    width: 200px;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    padding: 5px;
}


.next-btn {
    margin: 10px;
    width: 150px;
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    border: none;

}


.end-btn {
    width: 70px;
    background-color:rgb(250, 53, 53);
    border: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    color:black;
    font-weight: bold;
}