.results-card {
  align-items: center;
  width: 45%;
  height: 600px;
  margin: auto;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);

  border-radius: 50px;
  padding: 24px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.12),
    inset 0 1px 1px rgba(255, 255, 255, 0.35);
}

h2 {
  color: rgb(186, 185, 185);
  margin-right: 450px;
  font-size: 25px;
}

h1 {
  font-size: 25px;
  color: #b0b0b0;
  margin-left: 10px;
}

.categories {
  margin-left: -500px;
}

.glass-line {
  height: 5px;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgb(255, 255, 255),
    transparent
  );
  margin: -10px 0;
  margin-top: 20px;
}

.results {
  display: flex;
  flex-direction: row;
  gap: 420px;
}

.title-and-grade {
  display: flex;
  flex-direction: row;
}
