.body {
  background-color: rgba(16, 20, 47, 0.831);
  min-height: 100vh;
  padding: 40px 0;
}

/* CARD */
.results-card {
  display: flex;
  justify-content: center;

  max-width: 900px;
  width: 90%;
  margin: auto;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);

  border-radius: 40px;
  padding: 32px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.12),
    inset 0 1px 1px rgba(255, 255, 255, 0.35);
}

/* CONTENT */
.results-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* GRADE ROW */
.results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* HEADERS */
h1 {
  font-size: 48px;
  color: #ffffff;
  margin: 0;
}

h2 {
  font-size: 22px;
  color: #6bb4fd;
  margin: 0 0 6px 0;
}

/* TEXT BLOCKS */
.feedback-section {
  max-width: 700px;
  margin: 0 auto;
  color: white;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/ eliminate hard margins */
.categories,
.title-and-grade {
  margin: 0;
}

/* DIVIDER */
.glass-line {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

/* LIST */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.save-btn {
  padding: 10px 16px;
  border-radius: 15px;
  border: none;

  background: linear-gradient(
    135deg,
    rgba(77, 97, 250, 0.829),
    rgba(39, 111, 255, 0.939)
  );

  backdrop-filter: blur(10px);
  color: rgb(255, 254, 254);
  font-weight: 1000;
  cursor: pointer;

  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.3),
    0 6px 20px rgba(0, 0, 0, 0.15);

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}